* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #f08080;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 80vh;
  width: 80%;
  background-color: rgb(249, 232, 232);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: 80%; */
}

.add-input-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 1.5rem;
}

#input {
  width: 80%;
  padding: 8px 10px;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
}

#addBtn {
  background-color: rgb(231, 255, 175);
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.task-item {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 5px 10px;
  margin: auto;
}

.delete-btn {
  background-color: #de3163;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.edit-btn {
  background-color: rgb(128, 128, 225);
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
